@model IQueryable<Flight>

<title>GetOneFlightByCondition</title>

<div>
    <div class="card my-5">
        <div class="card-body">
            @foreach (Flight flight in Model)
            {
                <h5 class="card-title">
                    @flight.DepartureAirport &emsp;&emsp;
                    <i class="fa-solid fa-right-long"></i>
                    &emsp;&emsp;@flight.ArrivalAirport
                </h5>
                <div class="my-3">
                    <p class="card-tex">
                        Departure Date: @flight.DepartureDate &emsp;&emsp;
                        &emsp;&emsp; Return Date: @flight.ReturnDate
                    </p>
                    <p class="card-text"></p>
                </div>

                <div class="btn-group">
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house"></i> Home</a>
                    <a class="btn btn-outline-primary" asp-controller="Flight" asp-action="Index">
                        <i class="fa-solid fa-plane"></i>
                        Flights</a>
                </div>            
            }
        </div>
    </div>
</div>